<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.superchallenge">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon_app"

        android:label="털다"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DonationActivity"
            android:label="@string/title_activity_donation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FindMapActivity"
            android:label="@string/title_activity_find_map"
            android:theme="@style/AppTheme.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
        android:required="false" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".QRCreateActivity" />
        <activity android:name=".AlertSavingActivity" />
        <activity android:name=".QRScanActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="a727308250166c18fa342f7b459d17da" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBMtxtW01Xyp8LxU3CqpFs2kGH8mAzBDjA" />

    </application>

</manifest>